.fonticon(@ico-id:"") {
    content: @ico-id;
    font-family: @iconFont;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    height: 1em;
    font-size: 1em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.fonticon-phone {
    .fonticon('\f095');
}

.fonticon-email {
    .fonticon('\f0e0');
}

.fonticon-link {
    .fonticon('\f0c1');
}

.fonticon-paperclip {
    .fonticon('\f0c6');
}

.fonticon-university {
    .fonticon('\f19c');
}
